{% extends 'mainbase.html' %}
{% load static %}

{% block content %}
    <!-- Header -->
    <header id="header" class="header">
        <div class="header-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-xl-5">
                        <div class="text-container">
                            <h1>Steganography Tool for Secure Data Hiding</h1>
                            <p class="p-large">Use StegaPro to securely hide your data within images and audio files, ensuring privacy and confidentiality.</p>
                        </div> <!-- end of text-container -->
                    </div> <!-- end of col -->
                    <div class="col-lg-6 col-xl-7">
                        <div class="image-container">
                            <div class="img-wrapper">
                                <img class="img-fluid" src="{% static 'images/header-steganography.png' %}" alt="alternative">
                            </div> <!-- end of img-wrapper -->
                        </div> <!-- end of image-container -->
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of header-content -->
    </header> <!-- end of header -->
    <svg class="header-frame" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 1920 310"><defs><style>.cls-1{fill:#5f4def;}</style></defs><title>header-frame</title><path class="cls-1" d="M0,283.054c22.75,12.98,53.1,15.2,70.635,14.808,92.115-2.077,238.3-79.9,354.895-79.938,59.97-.019,106.17,18.059,141.58,34,47.778,21.511,47.778,21.511,90,38.938,28.418,11.731,85.344,26.169,152.992,17.971,68.127-8.255,115.933-34.963,166.492-67.393,37.467-24.032,148.6-112.008,171.753-127.963,27.951-19.26,87.771-81.155,180.71-89.341,72.016-6.343,105.479,12.388,157.434,35.467,69.73,30.976,168.93,92.28,256.514,89.405,100.992-3.315,140.276-41.7,177-64.9V0.24H0V283.054Z"/></svg>
    <!-- end of header -->


    <!-- Customers -->
    <div class="slider-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    
                    <!-- Image Slider -->
                    <div class="slider-container">
                        <div class="swiper-container image-slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                        <img class="img-fluid" src="{% static 'images/customer-logo-11.png' %}" alt="alternative">
                                </div>
                                <div class="swiper-slide">
                                        <img class="img-fluid" src="{% static 'images/customer-logo-12.png' %}" alt="alternative">
                                </div>
                                <div class="swiper-slide">
                                        <img class="img-fluid" src="{% static 'images/customer-logo-13.png' %}" alt="alternative">
                                </div>
                                <div class="swiper-slide">
                                        <img class="img-fluid" src="{% static 'images/customer-logo-14.png' %}" alt="alternative">
                                </div>
                                <div class="swiper-slide">
                                        <img class="img-fluid" src="{% static 'images/customer-logo-15.png' %}" alt="alternative">
                                </div>
                                <div class="swiper-slide">
                                        <img class="img-fluid" src="{% static 'images/customer-logo-16.png' %}" alt="alternative">
                                </div>
                            </div> <!-- end of swiper-wrapper -->
                        </div> <!-- end of swiper container -->
                    </div> <!-- end of slider-container -->
                    <!-- end of image slider -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of slider-1 -->
    <!-- end of customers -->


    <!-- Description -->
    <div class="cards-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="above-heading">DESCRIPTION</div>
                    <h2 class="h2-heading">Secure Your Data with StegaPro</h2>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">

                    <!-- Card -->
                    <div class="card">
                        <div class="card-image">
                            <img class="img-fluid" src="{% static 'images/description-1.png' %}" alt="alternative">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Data Hiding</h4>
                            <p>StegaPro allows you to hide sensitive information within images and audio files, ensuring that your data remains confidential.</p>
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <div class="card-image">
                            <img class="img-fluid" src="{% static 'images/description-2.png' %}" alt="alternative">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Easy to Use</h4>
                            <p>Our user-friendly interface makes it simple to embed and extract hidden data without any technical expertise.</p>
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <div class="card-image">
                            <img class="img-fluid" src="{% static 'images/description-3.png' %}" alt="alternative">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Secure Encryption</h4>
                            <p>StegaPro uses advanced encryption techniques to ensure that your hidden data is protected from unauthorized access.</p>
                        </div>
                    </div>
                    <!-- end of card -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of cards-1 -->
    <!-- end of description -->


    <!-- Features -->
<div id="features" class="tabs">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="above-heading">FEATURES</div>
                <h2 class="h2-heading">Steganography Made Simple</h2>
                <p class="p-heading">StegaPro offers a range of features to help you securely hide and manage your data with ease.</p>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-12">

                <!-- Tabs Links -->
                <ul class="nav nav-tabs" id="argoTabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="nav-tab-1" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true"><i class="fas fa-video"></i>Video Steganography</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-tab-2" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false"><i class="fas fa-image"></i>Image Steganography</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-tab-3" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false"><i class="fas fa-volume-up"></i>Audio Steganography</a>
                    </li>
                </ul>
                <!-- end of tabs links -->

                <!-- Tabs Content -->
                <div class="tab-content" id="argoTabsContent">

                    <!-- Tab -->
                    <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab-1">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="image-container">
                                    <img class="img-fluid" src="{% static 'images/videoStega.webp' %}" alt="alternative">
                                </div> <!-- end of image-container -->
                            </div> <!-- end of col -->
                            <div class="col-lg-6">
                                <div class="text-container">
                                    <h3>Video Steganography</h3>
                                    <p>Embed your data within video files, ensuring that it remains confidential and secure.</p>
                                    <ul class="list-unstyled li-space-lg">
                                        <li class="media">
                                            <i class="fas fa-square"></i>
                                            <div class="media-body">Hide text or files within video frames</div>
                                        </li>
                                        <li class="media">
                                            <i class="fas fa-square"></i>
                                            <div class="media-body">Extract hidden data from videos easily</div>
                                        </li>
                                        <li class="media">
                                            <i class="fas fa-square"></i>
                                            <div class="media-body">Supports various video formats</div>
                                        </li>
                                    </ul>
                                    <a class="btn-solid-reg popup-with-move-anim" href="#details-lightbox-1">LIGHTBOX</a>
                                </div> <!-- end of text-container -->
                            </div> <!-- end of col -->
                        </div> <!-- end of row -->
                    </div> <!-- end of tab-pane -->
                    <!-- end of tab -->

                    <!-- Tab -->
                    <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="tab-2">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="image-container">
                                    <img class="img-fluid" src="{% static 'images/imageste.webp' %}" alt="alternative">
                                </div> <!-- end of image-container -->
                            </div> <!-- end of col -->
                            <div class="col-lg-6">
                                <div class="text-container">
                                    <h3>Image Steganography</h3>
                                    <p>Embed your data within images seamlessly, making it undetectable to the naked eye.</p>
                                    <ul class="list-unstyled li-space-lg">
                                        <li class="media">
                                            <i class="fas fa-square"></i>
                                            <div class="media-body">Hide text or files within image pixels</div>
                                        </li>
                                        <li class="media">
                                            <i class="fas fa -square"></i>
                                            <div class="media-body">Extract hidden data from images easily</div>
                                        </li>
                                        <li class="media">
                                            <i class="fas fa-square"></i>
                                            <div class="media-body">Supports various image formats</div>
                                        </li>
                                    </ul>
                                    <a class="btn-solid-reg popup-with-move-anim" href="#details-lightbox-2">LIGHTBOX</a>
                                </div> <!-- end of text-container -->
                            </div> <!-- end of col -->
                        </div> <!-- end of row -->
                    </div> <!-- end of tab-pane -->
                    <!-- end of tab -->

                    <!-- Tab -->
                    <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="tab-3">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="image-container">
                                    <img class="img-fluid" src="{% static 'images/audio.webp' %}" alt="alternative">
                                </div> <!-- end of image-container -->
                            </div> <!-- end of col -->
                            <div class="col-lg-6">
                                <div class="text-container">
                                    <h3>Audio Steganography</h3>
                                    <p>Hide your data within audio files, ensuring that it remains confidential and secure.</p>
                                    <ul class="list-unstyled li-space-lg">
                                        <li class="media">
                                            <i class="fas fa-square"></i>
                                            <div class="media-body">Embed data within audio tracks without altering sound quality</div>
                                        </li>
                                        <li class="media">
                                            <i class="fas fa-square"></i>
                                            <div class="media-body">Easily extract hidden data from audio files</div>
                                        </li>
                                        <li class="media">
                                            <i class="fas fa-square"></i>
                                            <div class="media-body">Supports various audio formats</div>
                                        </li>
                                    </ul>
                                    <a class="btn-solid-reg popup-with-move-anim" href="#details-lightbox-3">LIGHTBOX</a>
                                </div> <!-- end of text-container -->
                            </div> <!-- end of col -->
                        </div> <!-- end of row -->
                    </div> <!-- end of tab-pane -->
                    <!-- end of tab -->
                    
                </div> <!-- end of tab content -->
                <!-- end of tabs content -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of tabs -->
<!-- end of features -->

    <!-- Details Lightboxes -->
    <!-- Details Lightbox 1 -->
	<div id="details-lightbox-1" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="container">
            <div class="row">
                <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
                <div class="col-lg-8">
                    <div class="image-container">
                        <img class="img-fluid" src="{% static 'images/videoStega.webp' %}" alt="alternative">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
                <div class="col-lg-4">
                    <h3>Data Encryption</h3>
                    <hr>
                    <h5>Core feature</h5>
                    <p>StegaPro provides robust encryption options to secure your hidden data, ensuring that only authorized users can access it.</p>
                    <ul class="list-unstyled li-space-lg">
                        <li class="media">
                            <i class="fas fa-square"></i><div class="media-body">Encrypt data before embedding it into files</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i><div class="media-body">Decrypt data easily when needed</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i><div class="media-body">User -friendly encryption interface</div>
                        </li>
                    </ul>
                    <a class="btn-solid-reg mfp-close"  style="color: gray; cursor: not-allowed;" title="This feature is in Pro Edition" onclick="return false;">embed</a>
                    <a class="btn-solid-reg mfp-close"  style="color: gray; cursor: not-allowed;" title="This feature is in Pro Edition" onclick="return false;">extract</a>
                    <a class="btn-outline-reg mfp-close as-button" href="#screenshots">BACK</a>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of lightbox-basic -->
    <!-- end of details lightbox 1 -->

    <!-- Details Lightbox 2 -->
	<div id="details-lightbox-2" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="container">
            <div class="row">
                <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
                <div class="col-lg-8">
                    <div class="image-container">
                        <img class="img-fluid" src="{% static 'images/imageste.webp' %}" alt="alternative">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
                <div class="col-lg-4">
                    <h3>Image Steganography</h3>
                    <hr>
                    <h5>Core feature</h5>
                    <p>Embed your data within images seamlessly, making it undetectable to the naked eye.</p>
                    <ul class="list-unstyled li-space-lg">
                        <li class="media">
                            <i class="fas fa-square"></i><div class="media-body">Hide text or files within image pixels</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i><div class="media-body">Extract hidden data from images easily</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i><div class="media-body">Supports various image formats</div>
                        </li>
                    </ul>
                    <a class="btn-solid-reg mfp-close" href="{% url 'mainapp:encode' %}">embed</a><a class="btn-solid-reg mfp-close" href="{% url 'mainapp:decode' %}">extract</a> <a class="btn-outline-reg mfp-close as-button" href="#screenshots">BACK</a>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of lightbox-basic -->
    <!-- end of details lightbox 2 -->

    <!-- Details Lightbox 3 -->
	<div id="details-lightbox-3" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="container">
            <div class="row">
                <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
                <div class="col-lg-8">
                    <div class="image-container">
                        <img class="img-fluid" src="{% static 'images/audio.webp' %}" alt="alternative">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
                <div class="col-lg-4">
                    <h3>Audio Steganography</h3>
                    <hr>
                    <h5>Core feature</h5>
                    <p>Hide your data within audio files, ensuring that it remains confidential and secure.</p>
                    <ul class="list-unstyled li-space-lg">
                        <li class="media">
                            <i class="fas fa-square"></i><div class="media-body">Embed data within audio tracks without altering sound quality</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i><div class="media-body">Easily extract hidden data from audio files</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i><div class="media-body">Supports various audio formats</div>
                        </li>
                    </ul>
                    <a class="btn-solid-reg mfp-close" href="#" style="color: gray; cursor: not-allowed;" title="This feature is in Premium Edition" onclick="return false;">embed</a>
                    <a class="btn-solid-reg mfp-close" href="#" style="color: gray; cursor: not-allowed;" title="This feature is in Premium Edition" onclick="return false;">extract</a>
                     <a class="btn-outline-reg mfp-close as-button" href="#screenshots">BACK</a>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of lightbox-basic -->
    <!-- end of details lightbox 3 -->
    <!-- end of details lightboxes -->


    <!-- Details -->
    <div id="details" class="basic-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-container">
                        <h2>Upgrade Your Data Security with StegaPro</h2>
                        <p>Utilize StegaPro's advanced steganography techniques to protect your sensitive information and maintain confidentiality.</p>
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Securely hide data within images and audio files</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">User -friendly interface for easy data management</div>
                            </li>
                        </ul>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-6">
                    <div class="image-container">
                        <img class="img-fluid" src="{% static 'images/stegapro.jpeg' %}" alt="alternative">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-1 -->
    <!-- end of details -->


    <!-- Video -->
    <div id="video" class="basic-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <!-- Video Preview -->
                    <div class="image-container">
                        <div class="video-wrapper">
                            <a class="popup-youtube" href="{% static 'images/video.mp4' %}" data-effect="fadeIn">
                                <img class="img-fluid" src="{% static 'images/video-image.png' %}" alt="alternative">
                                <span class="video-play-button">
                                    <span></span>
                                </span>
                            </a>
                        </div> <!-- end of video-wrapper -->
                    </div> <!-- end of image-container -->
                    <!-- end of video preview -->

                    <div class="p-heading">Discover how StegaPro can help you securely hide your data within images and audio files through our informative video, showcasing the features and benefits of our steganography tool.</div>        
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-2 -->
    <!-- end of video -->


    <!-- Pricing -->
    <div id="pricing" class="cards-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="above-heading">PRICING</div>
                    <h2 class="h2-heading">Affordable Pricing Options</h2>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">

                    <!-- Card-->
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">BASIC</div>
                            <div class="price"><span class="currency">$</span><span class="value">Free</span></div>
                            <div class="frequency"></div>
                            <div class="divider"></div>
                            <ul class="list-unstyled li-space-lg">
                                <li class="media">
                                    <i class="fas fa-check"></i><div class="media-body">Basic Data Hiding Features</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-check"></i><div class="media-body">User  Control Management</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-times"></i><div class="media-body">Advanced Encryption</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-times"></i><div class="media-body">Support for Multiple Formats</div>
                                </li>
                            </ul>
                            <div class="button-wrapper">
                                <a class="btn-solid-reg page-scroll" href="javascript:void(0);" style="background-color: #ccc; color: #666; cursor: not-allowed;">enrolled</a>
                            </div>
                        </div>
                    </div> <!-- end of card -->
                    <!-- end of card -->

    <!-- Pro Subscription Card -->
<div class="card">
    <div class="card-body">
        <div class="card-title">PRO</div>
        <div class="price"><span class="currency">$</span><span class="value">100</span></div>
        <div class="frequency">monthly</div>
        <div class="divider"></div>
        <ul class="list-unstyled li-space-lg">
            <li class="media">
                <i class="fas fa-check"></i><div class="media-body">All Basic Features</div>
            </li>
            <li class="media">
                <i class="fas fa-check"></i><div class="media-body">Advanced Data Encryption</div>
            </li>
            <li class="media">
                <i class="fas fa-check"></i><div class="media-body">Support for Multiple Formats</div>
            </li>
            <li class="media">
                <i class="fas fa-times"></i><div class="media-body">Priority Support</div>
            </li>
        </ul>
        <div class="button-wrapper">
            <!-- Redirect to the payment page with plan=pro -->
            <a class="btn-solid-reg page-scroll" href="{% url 'mainapp:card_payment_form' %}?plan=pro">Subscribe</a>
        </div>
    </div>
</div>

<!-- Premium Subscription Card -->
<div class="card">
    <div class="card-body">
        <div class="card-title">PREMIUM</div>
        <div class="price"><span class="currency">$</span><span class="value">200</span></div>
        <div class="frequency">monthly</div>
        <div class="divider"></div>
        <ul class="list-unstyled li-space-lg">
            <li class="media">
                <i class="fas fa-check"></i><div class="media-body">All Pro Features</div>
            </li>
            <li class="media">
                <i class="fas fa-check"></i><div class="media-body">Priority Support</div>
            </li>
            <li class="media">
                <i class="fas fa-check"></i><div class="media-body">Custom Data Management Solutions</div>
            </li>
        </ul>
        <div class="button-wrapper">
            <!-- Redirect to the payment page with plan=premium -->
            <a class="btn-solid-reg page-scroll" href="{% url 'mainapp:card_payment_form' %}?plan=premium">Subscribe</a>
        </div>
    </div>
</div>


                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of cards-2 -->
    <!-- end of pricing -->


    <!-- Testimonials -->
    <div class="slider-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">      
                    
                    <!-- Text Slider -->
                    <div class="slider-container">
                        <div class="swiper-container text-slider">
                            <div class="swiper-wrapper">
                                
                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="image-wrapper">
                                        <img class="img-fluid" src="{% static 'images/serag.jpg' %}" alt="alternative">
                                    </div> <!-- end of image-wrapper -->
                                    <div class="text-wrapper">
                                        <div class="testimonial-text">StegaPro has transformed the way I handle sensitive information. The ability to hide data within images is a game changer for my privacy needs. Highly recommended!</div>
                                        <div class="testimonial-author">serag - Data Security Expert</div>
                                    </div> <!-- end of text-wrapper -->
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->

                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="image-wrapper">
                                        <img class="img-fluid" src="{% static 'images/serag.jpg' %}" alt="alternative">
                                    </div> <!-- end of image-wrapper -->
                                    <div class="text-wrapper">
                                        <div class="testimonial-text">I was amazed at how easy it was to use StegaPro. The interface is intuitive, and I feel much more secure knowing my data is hidden.</div>
                                        <div class="testimonial-author">serag - Software Developer</div>
                                    </div> <!-- end of text-wrapper -->
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->

                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="image-wrapper">
                                        <img class="img-fluid" src="{% static 'images/serag.jpg' %}" alt="alternative">
                                    </div> <!-- end of image-wrapper -->
                                    <div class="text-wrapper">
                                        <div class="testimonial-text">StegaPro is the best steganography tool I've used. It allows me to keep my data safe while still being able to share files without worry.</div>
                                        <div class="testimonial-author">serag - Online Marketer</div>
                                    </div> <!-- end of text-wrapper -->
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->

                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="image-wrapper">
                                        <img class="img-fluid" src="{% static 'images/serag.jpg' %}" alt="alternative">
                                    </div> <!-- end of image-wrapper -->
                                    <div class="text-wrapper">
                                        <div class="testimonial-text">The reporting tools in StegaPro are fantastic. I can easily track my hidden data and ensure everything is secure.</div>
                                        <div class="testimonial-author">serag - Data Analyst</div>
                                    </div> <!-- end of text-wrapper -->
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->

                            </div> <!-- end of swiper-wrapper -->
                            
                            <!-- Add Arrows -->
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                            <!-- end of add arrows -->

                        </div> <!-- end of swiper-container -->
                    </div> <!-- end of slider-container -->
                    <!-- end of text slider -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of slider-2 -->
    <!-- end of testimonials -->


    <!-- Newsletter -->
    <div class="form">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-container">
                        <div class="above-heading">NEWSLETTER</div>
                        <h2>Stay Updated with StegaPro's Latest Features and Tips</h2>

                        <!-- Newsletter Form -->
                        <form id="newsletterForm" data-toggle="validator" data-focus="false">
                            <div class="form-group">
                                <input type="email" class="form-control-input" id="nemail" required>
                                <label class="label-control" for="nemail">Email</label>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group checkbox">
                                <input type="checkbox" id="n terms" value="Agreed-to-Terms" required>I've read and agree to StegaPro's written <a href="privacy-policy.html">Privacy Policy</a> and <a href="terms-conditions.html">Terms Conditions</a> 
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="form-control-submit-button">SUBSCRIBE</button>
                            </div>
                            <div class="form-message">
                                <div id="nmsgSubmit" class="h3 text-center hidden"></div>
                            </div>
                        </form>
                        <!-- end of newsletter form -->

                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="icon-container">
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-facebook-f fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-twitter fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-pinterest-p fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-instagram fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-linkedin-in fa-stack-1x"></i>
                            </a>
                        </span>
                    </div> <!-- end of col -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of form -->
    <!-- end of newsletter -->


{% endblock content %}
