{% extends 'L&S.html' %}
{% load static %}
{% block title %}Login{% endblock title %}

{% block content %}
    <!-- Header -->
    <header id="header" class="ex-2-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Log In to StegaPro</h1>
                    <p>Securely access your steganographic tools and hidden data. Don't have an account? <a class="white" href="{% url 'pages:signup' %}">Sign Up</a></p> 
                    
                    <!-- Log In Form -->
                    <div class="form-container">
                        <form id="logInForm" method="POST" data-toggle="validator" data-focus="false">
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="email" class="form-control-input" id="lemail" name="email" required>
                                <label class="label-control" for="lemail">Email</label>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control-input" id="lpassword" name="password" required>
                                <label class="label-control" for="lpassword">Password</label>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="form-control-submit-button">Log In</button>
                            </div>
                            {% if error %}
                            <p style="color: red;">{{ error }}</p>
                            {% endif %}
                        </form>
                        
                    </div> <!-- end of form container -->
                    <!-- end of log in form -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of header -->
    <!-- end of header -->
{% endblock content %}

    <!-- Scripts -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'js/swiper.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.js' %}"></script>
    <script src="{% static 'js/validator.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
